<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  id="com.phonegap.plugins.facebookconnect"
  version="0.3.2">

  <name>Facebook Connect</name>

  <description>
    &lt;p&gt;This is the official plugin for Facebook in Apache Cordova/PhoneGap!&lt;/p&gt;

    &lt;p&gt;The Facebook plugin for Apache Cordova allows you to use the same JavaScript code in your
    Cordova application as you use in your web application. However, unlike in the browser, the
    Cordova application will use the native Facebook app to perform Single Sign On for the user.
    If this is not possible then the sign on will degrade gracefully using the standard dialog
    based authentication.&lt;/p&gt;
  </description>

  <license>Apache 2.0</license>
  <keywords>facebook</keywords>

  <asset src="www/cdv-plugin-fb-connect.js" target="cdv-plugin-fb-connect.js" />

  <engines>
    <engine name="cordova" version=">=2.9.0" />
  </engines>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="FacebookConnect">
        <param name="android-package" value="org.apache.cordova.facebook.ConnectPlugin" />
      </feature>
    </config-file>

    <!-- res files -->
    <source-file src="src/android/facebook/res/drawable/close.png" target-dir="res/drawable" />
    <source-file src="src/android/facebook/res/drawable/facebook_icon.png" target-dir="res/drawable" />
    <source-file src="src/android/facebook/res/drawable-hdpi/close.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/facebook/res/drawable-hdpi/facebook_icon.png" target-dir="res/drawable-hdpi" />
    <source-file src="src/android/facebook/res/drawable-ldpi/close.png" target-dir="res/drawable-ldpi" />
    <source-file src="src/android/facebook/res/drawable-ldpi/facebook_icon.png" target-dir="res/drawable-ldpi" />
    <source-file src="src/android/facebook/res/drawable-xhdpi/close.png" target-dir="res/drawable-xhdpi" />

    <!-- cordova plugin src files -->
    <source-file src="src/android/ConnectPlugin.java" target-dir="src/org/apache/cordova/facebook" />

    <!-- facebook src files -->
    <source-file src="src/android/facebook/AsyncFacebookRunner.java" target-dir="src/com/facebook/android" />
    <source-file src="src/android/facebook/DialogError.java" target-dir="src/com/facebook/android" />
    <source-file src="src/android/facebook/Facebook.java" target-dir="src/com/facebook/android" />
    <source-file src="src/android/facebook/FacebookError.java" target-dir="src/com/facebook/android" />
    <source-file src="src/android/facebook/FbDialog.java" target-dir="src/com/facebook/android" />
    <source-file src="src/android/facebook/Util.java" target-dir="src/com/facebook/android" />

  </platform>

</plugin>